In [16]:
l1 = ['a','b','c','d','e']

l2 = ['a','b','c']

In [17]:
[x for x in l1 if x not in l2]

['d', 'e']

In [51]:
s = "Hello World"
# print(s)
r = ' '

In [86]:
revStr(s)

11

In [152]:
def sumOfTwo(a, b, c=0):
    print(a+b)

In [154]:
sumOfTwo(45, 56)

101

In [78]:
def squareIt(a):
    return a**2

In [88]:
squareIt(4)

16

In [91]:
l = [x for x in range(1, 11)]

In [98]:
sqlist = []
for i in l:
    sqlist.append(squareIt(i))
print(sqlist)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [99]:
newl = list(map(squareIt, l))

In [100]:
newl

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [101]:
def revStr(st):
    return st[::-1]

In [102]:
revStr(s)

'dlroW olleH'

In [103]:
l = ['John', 'Mike', 'Sarah']

In [106]:
newl = [revStr(x) for x in l]

In [107]:
newl

['nhoJ', 'ekiM', 'haraS']

In [113]:
newl = list(map(revStr, newl))

In [114]:
newl

['John', 'Mike', 'Sarah']

In [119]:
def func(st):
    return len(st)%2 == 0

In [120]:
func('abc')

False

In [122]:
list(filter(func, l))

['John', 'Mike']

In [127]:
ll = list(range(1,51))

In [129]:
print(ll)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

In [131]:
def checkEven(var):
    return var % 2 == 0

In [133]:
newll = list(filter(checkEven, ll))

In [135]:
print(newll)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [136]:
a = lambda x,y : x+y

In [137]:
a(23,4)

27

In [141]:
list(map(lambda s : s[::-1], ['Ronny', 'Rocky', 'Bushty']))

['ynnoR', 'ykcoR', 'ythsuB']

In [143]:
list(filter(lambda n : len(n)%2 == 0, ['Ronny', 'Rocky', 'Bushty']))

['Bushty']

In [168]:
def sumofany(*var):
    sum = 0
    for x in var:
        sum += x
    return sum

In [170]:
sumofany(2,4,5,6,3)

20

In [171]:
a = 1
while a<10:
    print(a)
    a+=1

1
2
3
4
5
6
7
8
9

In [172]:
l

['John', 'Mike', 'Sarah']

In [173]:
l.pop(0)

'John'

In [183]:
l = [45,25,85,12,6,23,345,954,43,7,2,99,22,954,954,954,954,954,954,954,954,954,954]

In [175]:
l.sort()

In [176]:
l

[2, 6, 7, 12, 22, 23, 25, 43, 45, 85, 99, 345, 954]

In [177]:
l[-2]

345

In [184]:
m = max(l)

In [185]:
while max(l) == m:
    l.remove(m)
print(max(l))

345